<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fromulario</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'><link rel="stylesheet" href="../assets/formulario.css">
<!--iconos del footer-->
<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonimo"></script>

</head>
<body>

  <form>
    <h1 class="pb-3 text-center">Cuál es tu nombre?</h1>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Escribe tu nombre...">
    </div>
    <div>

    <a href="#" style="width:120px;" class="mx-auto d-block btn btn-primary">Sumbit<a/>

     
        <a href="./main.html" id="boton" class="mx-auto d-block btn btn-primary">Ir al cuestionario!<a/>
     
    </div>
      

  </form>
  
  <h2 id="span-name" class="py-5 text-center"></h2>

    <footer class="footer">
        <div class="iconos">
           <a href="#"><i class="fab fa-facebook"></i></a>
           <a href="#"><i class="fab fa-linkedin"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
            <p class="company-name">
                2021, Todos los derechos reservados
            </p>
        </div>
    </footer>

    <script src="../js/form.js"></script>

</body>
</html>